:root {
  --background-color: #1c2023;
  --button-color-first: #8856d9;
  --button-color-first-hover: #5b24b2;
  --button-color-second: #ff4136;
  --button-color-second-hover: #ba2b24;
  --description-color: #a9c7c7;
  --text-card-color: #8c96a0;
  --font-family: "Rubik";
  --color-link-menu: rgba(255, 255, 255, 0.5);
  --transition-time: 0.3s;
  --color-title: #fff;
  --fs10px: 0.625rem;
  --fs12px: 0.75rem;
  --fs14px: 0.875rem;
  --fs16px: 1rem;
  --fs18px: 1.125rem;
  --fs20px: 1.25rem;
  --fs24px: 1.5rem;
  --fs30px: 1.875rem;
  --fs40px: 2.5rem;
  --fs60px: 3.75rem;
  --fs80px: 5rem;
  --fs100px: 6.25rem;
}

html {
  overflow-x: hidden;
}
body {
  font-size: var(--fs14px);
  font-weight: normal;
  background-color: var(--background-color);
  display: flex;
  font-family: var(--font-family);
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: var(--text-card-color);
}
body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px var(--button-color-first-hover);
  background-color: var(--button-color-first);
}

.container {
  display: block;
  position: relative;
  max-width: 1735px;
  width: 100%;
  padding: 0 20px;
}

/*button*/
.btn {
  border-radius: 6px;
  font-weight: 500;
  font-size: var(--fs16px);
  padding: 12px 37px;
  text-transform: uppercase;
  color: var(--color-title);
  transition: background-color var(--transition-time) ease-in-out;
}
.btn-violet {
  background-color: var(--button-color-first);
}
.btn-red {
  background-color: var(--button-color-second);
}
.btn-violet:hover {
  background-color: var(--button-color-first-hover);
}
.btn-red:hover {
  background-color: var(--button-color-second-hover);
}

.title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: var(--fs40px);
  text-align: center;
  color: var(--color-title);
}

.swiper__btn {
  width: 32px;
  height: 32px;
  top: 55%;
  border-radius: 6px;
  background-color: var(--text-card-color);
  transition: background-color var(--transition-time) ease;
}
