.editions {
  padding-top: 150px;
}

.editions__title {
  margin-bottom: 30px;
}
.editions__container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.editions__item {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  border-radius: 6px;
  padding: 17px;
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
  transition: scale var(--transition-time) ease-in;
}
.editions__item:hover {
  scale: 1.01;
}

.editions__title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
  font-weight: 700;
  font-size: 16px;
}
.editions__card-title {
  color: var(--color-title);
}
.editions__subtitle {
  margin-top: 15px;
  font-weight: 500;
  color: var(--description-color);
}
.editions__description-text {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  color: var(--text-card-color);
}
.editions__description-one,
.editions__description-two {
  margin-bottom: 12px;
}
.editions__description-three {
  margin-bottom: 5px;
}
.editions__pay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 700;
  font-size: var(--fs18px);
  color: var(--color-title);
}
.editions__price {
  margin-bottom: 14px;
}
.editions__btn {
  font-size: var(--fs14px);
}
