.faq {
  font-weight: 600;
  font-size: var(--fs18px);
  text-align: center;
  color: var(--color-title);
  margin-bottom: 100px;
}
.faq__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__accordion {
  max-width: 905px;
}

.faq__accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #8856d9;
  padding: 10px 0;
}

.faq__accordion-btn {
  width: 30px;
  height: 30px;
  background: var(--text-card-color);
  border-radius: 6px;
  transform: rotate(0deg);

  transition: background var(--transition-time) ease;
}
.faq__accordion-btn:hover {
  background: var(--button-color-first-hover);
}
.faq__accordion-btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform var(--transition-time) ease;

  cursor: pointer;
}

.faq__accordion-span {
  color: #ff4136;
}

.accordion-btn-active {
  transform: rotate(50deg);
  transition: transform var(--transition-time) ease;
}

.faq__accordion-body {
  display: block;
  height: 0;
  font-weight: 400;
  font-size: var(--fs14px);
  text-align: left;
  transition: height var(--transition-time) ease;
  overflow: hidden;
  margin: 15px 0;
}

.faq__accordion-body-isactive {
  height: 50px;
  margin: 15px 0;
}
