.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 200;
}
.menu__btn-container {
  position: relative;
  width: 25px;
  height: 25px;
}

.menu__button {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.menu__button span,
.menu__button::before,
.menu__button::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  top: 50%;
  background-color: #fff;
  transition: width var(--transition-time) ease-in-out;
}
.menu__button::before {
  width: 100%;
  top: 25%;
}
.menu__button::after {
  width: 100%;
  top: 80%;
}

.is-active span {
  width: 100%;
}
.is-active::after,
.is-active::before {
  width: 50%;
}

.menu__container {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.menu__list {
  display: flex;
  margin-left: 50px;
  transition: transform var(--transition-time) ease-in;
}
.menu__link {
  font-family: var(--font-family);
  text-transform: uppercase;
  color: var(--color-link-menu);
  transition: color var(--transition-time) ease-in-out;
  margin: 0 15px;
}
.menu__link-active {
  color: var(--button-color-first);
}
.menu__link:hover {
  color: var(--button-color-first);
}
.menu__language {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.menu__hiden > .menu__container > .menu__list {
  transform: translateX(-200%);
}

/*Clock*/
.clock {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--text-card-color);
}
.clock__realise {
  margin-right: 20px;
}

.clock__day,
.clock__hours,
.clock__minutes {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  color: var(--description-color);
}

.clock__day {
  margin-right: 5px;
}
.clock__hours {
  margin-right: 5px;
}

.clock__day::after,
.clock__hours:after,
.clock__minutes:after {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-card-color);
  left: 20px;
  bottom: -25px;
  z-index: 5;
}

.clock__day::after {
  content: "D";
}
.clock__hours:after {
  content: "H";
}

.clock__minutes:after {
  content: "M";
}
/*end clock*/

@media (max-width: 1070px) {
  .menu__btn-container {
    margin-bottom: 10px;
  }

  .menu__container {
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }
  .menu__link {
    display: block;
    padding: 5px 0;
    margin: 0;
  }
  .clock {
    align-items: baseline;
  }
}
