.news {
  width: 1920px;
  padding: 0 20px;
}

.news__title {
  margin-bottom: 30px;
}

.news__swiper-button-prev::after,
.news__swiper-button-next::after {
  content: "";
  width: 30px;
  height: 30px;
  background: url(../img/news/arrow.png) center center no-repeat;
}
.news__swiper-button-prev:hover,
.news__swiper-button-next:hover {
  background-color: var(--button-color-first-hover);
}

.news__swiper-button-next::after {
  transform: rotate(180deg);
}

.news__cardnews-content-btn:hover {
  background: var(--button-color-first-hover);
}

.cardnews__container {
  max-width: 615px;
  padding: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  background: linear-gradient(180deg, #30373f 22.4%, #141615 100%);
  border-radius: 6px;
}
.cardnews__head {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.cardnews__name {
  color: var(--button-color-first);
}
.cardnews__date {
  color: var(--text-card-color);
}
.cardnews__title {
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
.cardnews__body {
  display: flex;
}
.cardnews__imeg-container {
  margin-right: 24px;
}
.cardnews__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.cardnews__content-text {
  max-width: 256px;
  font-size: 12px;
  line-height: 142%;
  color: var(--text-card-color);
}

.cardnews__content-btn {
  padding: 7px 30px;
  background: var(--text-card-color);
}
