@import "/css/nullstyle.css";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import "/css/menu.css";

/*Variable*/
:root {
  --background-color: #1c2023;
  --button-color-first: #8856d9;
  --button-color-first-hover: #af7eff;
  --button-color-second: #ff4136;
  --button-color-second-hover: #ba2b24;
  --description-color: #a9c7c7;
  --text-card-color: #8c96a0;
  --font-family: "Rubik";
  --color-link-menu: rgba(255, 255, 255, 0.5);
  --transition-time: 0.3s;
}
body {
  padding: 50px;
  font-size: 14px;
  font-weight: normal;
  background-color: var(--background-color);
}
/*Menu*/

/*end menu*/

/*Clock*/
.clock {
  display: flex;
  align-items: center;
  font-family: var(--font-family);
  font-size: 16px;
  color: var(--text-card-color);
}
.clock__realise {
  margin-right: 20px;
}

.clock__day,
.clock__hours,
.clock__minutes {
  position: relative;
  font-weight: 700;
  font-size: 40px;
  color: var(--description-color);
}

.clock__day {
  margin-right: 5px;
}
.clock__hours {
  margin-right: 5px;
}

.clock__day::after,
.clock__hours:after,
.clock__minutes:after {
  position: absolute;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-card-color);
  left: 20px;
  bottom: -25px;
}

.clock__day::after {
  content: "D";
}
.clock__hours:after {
  content: "H";
}

.clock__minutes:after {
  content: "M";
}
/*end clock*/

/*button*/
.btn {
  border-radius: 6px;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 37px;
  text-transform: uppercase;
  color: #fff;
  transition: background-color var(--transition-time) ease-in-out;
}
.btn-violet {
  background-color: var(--button-color-first);
}
.btn-red {
  background-color: var(--button-color-second);
}
.btn-violet:hover {
  background-color: var(--button-color-first-hover);
}
.btn-red:hover {
  background-color: var(--button-color-second-hover);
}
/*end button*/

/*card*/
.card__item {
  display: flex;
  max-width: 350px;
  flex-direction: column;
  border-radius: 6px;
  padding: 17px;
  font-family: var(--font-family);
  background: linear-gradient(180deg, #141615 0%, #1c2023 100%);
  transition: scale var(--transition-time) ease-in;
}
.card__item:hover {
  scale: 1.05;
}

.card__title-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
  font-weight: 700;
  font-size: 16px;
}
.card__title {
  color: #fff;
}
.card__subtitle {
  margin-top: 15px;
  font-weight: 500;
  color: var(--description-color);
}
.card__description-text {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-card-color);
}
.card__description-one,
.card__description-two {
  margin-bottom: 12px;
}
.card__description-three {
  margin-bottom: 5px;
}
.card__pay {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 700;
  font-size: 19px;
  color: #fff;
}
.card__price {
  margin-bottom: 14px;
}
.card__btn {
  font-size: 13px;
}

/*end card*/

/* requirements */

.requirements__switch-btn {
  display: inline-block;
  width: 55px;
  height: 26px;
  border-radius: 19px;
  background: #30373f;
  z-index: 1;
  margin: 0 15px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: var(--transition-time);
}
.requirements__switch-btn::after {
  content: "";
  height: 18px;
  width: 18px;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  background: var(--button-color-first);
  transition-duration: var(--transition-time);
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #30373f;
}
.switch-on::after {
  left: 33px;
}
.requirements {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  color: #fff;
  font-weight: 400;
  font-family: var(--font-family);
  overflow: hidden;
}
.requirements__title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 21px;
  text-align: center;
}
.requirements_preference-text {
  display: flex;
  align-items: center;
  color: #30373f;
  margin-bottom: 20px;
}
.requirements__price {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 55px;
}
.requirements_preference {
  font-size: 14px;
}
.requirements-isActive {
  color: #fff;
  transition: color var(--transition-time) ease-in-out;
}
.requirements__specification span {
  color: #fff;
}
.requirements__specification {
  display: flex;
  position: relative;
  color: var(--button-color-first);
}

.requirements__specification-left {
  display: flex;
  align-items: flex-end;
  margin-right: 160px;
  padding-left: 110px;
}
.requirements__specification-background {
  width: 300px;
  height: 300px;
}

.requirements__specification-img {
  z-index: 0;
  position: absolute;
  bottom: 0;
}
.requirements__specification-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  font-size: 15px;
  line-height: 240%;
}
.btn-requirements {
  margin-top: 28px;
  font-weight: 500;
  font-size: 13px;
}

/* end requirements */

/* cardnews */
.cardnews {
}
.cardnews__container {
  max-width: 615px;
  padding: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  background: linear-gradient(180deg, #30373f 22.4%, #141615 100%);
  border-radius: 6px;
}
.cardnews__head {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.cardnews__name {
  color: var(--button-color-first);
}
.cardnews__date {
  color: var(--text-card-color);
}
.cardnews__title {
  font-weight: 600;
  font-size: 19px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
.cardnews__body {
  display: flex;
}
.cardnews__imeg-container {
  margin-right: 24px;
}
.cardnews__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.cardnews__content-text {
  max-width: 256px;
  font-size: 12px;
  line-height: 142%;
  color: var(--text-card-color);
}

.cardnews__content-btn {
  padding: 7px 30px;
  background: var(--text-card-color);
}

/* end cardnews */
